---
import Layout from "../layouts/Layout.astro";
import ImageLayout from "../components/ImageLayout.astro";
---

<Layout>
  <main class="relative flex flex-col items-center bg-gray-900">
    <h1 class="text-5xl font-bold underline text-green-500 my-12 pb-8">
      Gallery
    </h1>
    <button
      type="button"
      id="scroll-up"
      class="fixed bottom-5 z-50 right-5 cursor-pointer text-black text-bold bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-4 focus:ring-yellow-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:focus:ring-red-900"
      ><span class="text-5xl font-bold"> &uarr; </span></button
    >
    <ImageLayout />
  </main>
</Layout>

<style>
  #scroll-up {
    display: none;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const scrollUpBtn = document.getElementById("scroll-up");

    window.addEventListener("scroll", function () {
      if (window.scrollY > 200) {
        scrollUpBtn.style.display = "block";
      } else {
        scrollUpBtn.style.display = "none";
      }
    });

    scrollUpBtn.addEventListener("click", function () {
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
    });
  });
</script>
