---
import { Image } from "astro:assets";
import Lightbox from "./Lightbox.astro";

import Lasa from "../assets/lasa-cert.jpg";
import Psira from "../assets/psira-cert.jpg";
import ChubbKeys from "../assets/chubb-keys.jpg";
import ChubbLevers from "../assets/chubb-levers.jpg";
import Measure from "../assets/chubb-measure.jpg";
import SafeLock from "../assets/chubb-safe-lock.jpg";
import Monitor1 from "../assets/chubb-mon-1.jpg";
import Monitor2 from "../assets/chubb-mon-2.jpg";
import CmDoor from "../assets/cm-door.jpg";
import CmKeyway from "../assets/cm-keyway.jpg";
import CmDark from "../assets/cm-keyway-dark.jpg";
import Vault1 from "../assets/cmvd-1.jpg";
import Vault2 from "../assets/cmvd-2.jpg";
import VaultBg from "../assets/vault-bg.jpg";
import Relocker from "../assets/relocker.jpg";
import SmartLock from "../assets/samsung-smart-1.jpg";

const images = [
  {
    imgUrl: Lasa,
    alt: "Lasa certificate",
    loading: "eager",
  },
  {
    imgUrl: Psira,
    alt: "Psira certificate",
    loading: "eager",
  },
  {
    imgUrl: ChubbKeys,
    alt: "Chubb safe lock and two hand cut keys",
    loading: "lazy",
  },
  {
    imgUrl: ChubbLevers,
    alt: "Chubb safe lock with levers being displayed",
    loading: "lazy",
  },
  {
    imgUrl: Measure,
    alt: "Open safe lock and vernier calliper that displays measurements",
    loading: "lazy",
  },
  {
    imgUrl: SafeLock,
    alt: "Chubb safe lock and vernier calliper",
    loading: "lazy",
  },
  {
    imgUrl: Monitor1,
    alt: "Close up of a Chubb safe lock on a record room door",
    loading: "lazy",
  },
  {
    imgUrl: Monitor2,
    alt: "Chubb safe lock on a record room door",
    loading: "lazy",
  },
  {
    imgUrl: CmDoor,
    alt: "Gray record room door",
    loading: "lazy",
  },
  {
    imgUrl: CmKeyway,
    alt: "Escutcheon and keyway on a record room door",
    loading: "lazy",
  },
  {
    imgUrl: CmDark,
    alt: "Escutcheon and keyway with a darker background on a record room door",
    loading: "lazy",
  },
  {
    imgUrl: Vault1,
    alt: "Yellow Chatwood Milner vault door without handles or decorative plates",
    loading: "lazy",
  },
  {
    imgUrl: Vault2,
    alt: "Yellow Chatwood Milner vault door without handles or decorative plates",
    loading: "lazy",
  },
  {
    imgUrl: VaultBg,
    alt: "Chatwood Milner vault door standing open",
    loading: "lazy",
  },
  {
    imgUrl: Relocker,
    alt: "Relocker on the inside of a safe door",
    loading: "lazy",
  },
  {
    imgUrl: SmartLock,
    alt: "The working parts of a Samsung smart lock",
    loading: "lazy",
  },
];
---

<div class="gallery container mx-auto px-8">
  <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
    {
      images.map((detail) => (
        <Image
          class="lightbox-enabled object-cover object-center w-full h-96 max-w-full rounded-lg"
          loading={detail.loading as "eager" | "lazy"}
          decoding="async"
          format="webp"
          src={detail.imgUrl}
          alt={detail.alt}
        />
      ))
    }
  </div>

  <Lightbox />
</div>
