---
import Image from "astro/components/Image.astro";
---

<a href="/locksmith-profile/">
  <Image
    src="/images/profile.jpg"
    alt="Logo"
    class="h-16 w-16 md:h-16 md:w-16 rounded-full"
    loading="eager"
    decoding="async"
    format="webp"
    width={200}
    height={200}
  />
</a>
